#account .list-group-item.active {
  background: #ffc107;
}

#account .status-badge {
  margin-left: 1rem;
}

#account .badge-success {
  background-color: green;
}

#account .badge-warning {
  background-color: orange;
}

#account .top-status ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: flex-start;
}

#account .top-status ul.timeline li {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 8px solid #ddd;
  box-shadow: 1px 1px 10px 1px #ddd inset;
  margin: 10px 5px;
  z-index: 10;
}

#account .top-status ul.timeline-text li {
  width: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex;
  text-align: center;
}

#account .top-status ul li.active {
  border-color: #ffc107;
  box-shadow: 1px 1px 20px 1px #ffc107 inset;
}

#account ul.timeline {
  list-style-type: none;
  position: relative;
}

#account ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  width: 2px;
  top: -80%;
  height: 260%;
  transform: rotate(90deg);
}

@media screen and (max-width: 992px) {
  #account ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    width: 2px;
    top: -130%;
    height: 365%;
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 700px) {
  #account ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    width: 2px;
    top: -80%;
    height: 265%;
    transform: rotate(90deg);
  }
}