#cart {
    margin-top: 70px;
}

#cart .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#cart .grid-2 {
    margin: 0px 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

@media screen and (max-width: 800px) {
    #cart .grid-2 {
        grid-template-columns: 1fr;
    }
}

#cart .listCart {
    margin-bottom: 10px;
    background: #eaeaea;
}

#cart .resumeCart {
    height: fit-content;
    background: #eaeaea;
    padding: 20px;
}

#cart .flexRow {
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cart .glassMorph {
    display: flex;
    border-bottom: 1px solid #b2b2b2;
}

#cart .resumeCart>div {
    margin-bottom: 10px;
}

#cart .resumeCart>button {
    color: white;
    background-color: #34541c;
    border: none;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    margin-top: 18px;
}

#cart .resumeCart>div>span {
    float: right;
}

#cart input {
    margin: 20px 0px;
    width: 100px;
    padding: 10px;
    background: rgba(79, 79, 79, 0.2);
    box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#cart .glassMorph h2 {
    font-weight: bolder;
    opacity: 0.8;
}

#cart .glassMorph img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 20%;
    margin: 7px;
    border-radius: 10px;
}

#cart .input-container {
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

#cart .input-container button {
    margin-left: 10px;
    cursor: pointer;
}

#cart .ri-delete-bin-line {
    font-size: x-large;
    margin-left: 10px;
}